<main class="container-fluid p-0">
    <section class="home-hero py-4">
        <div class="container">
            <section class="col-md-6 col-12 text-md-left text-center">
                <h1>Welcome to Group 2</h1>
                <p>Group 2 is a team of developers who are passionate about creating quality software. We are dedicated to providing the best possible experience for our users.</p>
                <button href="#" class="btn btn-primary">Learn More</button>
            </section>
            <section class="col-md-6 col-12">
                <button class="btn btn-dark">Log In</button>
                <button class="btn btn-dark">Sign Up</button>
            </section>
        </div>
    </section>
</main>