<main class="container-fluid p-0">
    <section class="home-hero py-4">
        <div class="container">
            <section class="col-md-12 col-12 text-md-left text-center">
                <h1>Welcome to Group 2</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil voluptatibus neque cumque dolore vitae aperiam perspiciatis, assumenda nulla reprehenderit rem!</p>
                <button class="btn btn-dark"> <a class="nav-link" href="/login">Login</a></button>
                
                <button class="btn btn-dark"><a class="nav-link" href="/register">Sign Up</a></button>
            </section>
        </div>
    </section>
</main>
