@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --light: #f2f2f2;
    --dark: #212121;
    --ivy-green: #006648;
    --ivy-green-light: #8dc63f;
}

/*Base Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(104, 160, 123);
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}
/*End Base Styles*/

/*Text*/
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/*Main Template*/

/*End Templates*/

/*Pages*/
/*Home Page*/
.home-hero {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url('./assets/hero-img.jpg');
    background-size: cover;
    background-position: center;
    color: var(--light);
    min-height: 100vh;
}

/* Modify the background color */
.navbar-custom {
    background-color: #006400 !important; /* dark green */
    .nav {
        height: 5rem;
        width: 100%;
        display: block;
        justify-content: flex-start;
        z-index: 10;
        font-weight: 300;
        /* transition: 0.2s ease-in-out; */
        /* transition: transform 400ms ease-in-out; */
        position: fixed;
      }
      
      .nav__list {
        /* list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-left: 55vh;
        margin-top: -49px;
        padding: 0vh 4vw; */
        list-style: none;
        display: flex;
        justify-content: flex-end;
        /* margin-left: 55vh; */
        margin-top: -49px;
        /* margin: auto; */
        padding: 0vh 4vw;
      }
      
      .nav__link {
        color: inherit;
        text-decoration: none;
        margin-right: 50px;
        position: relative;
        font-family: "Raleway", sans-serif;
        padding: 16px 0;
        margin: 0 12px;
        letter-spacing: 1px;
        line-height: 16px;
        font-weight: 700;
        transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
        color: #111;
      }
      
      .nav-toggle {
        display: none;
      }
      
      .nav__link::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 3px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #000;
        transform-origin: right top;
        transform: scale(0, 1);
        transition: color 0.1s, transform 0.2s ease-out;
      }
      
      .nav__link:active::before {
        background-color: #000;
      }
      
      .nav__link:hover::before,
      .nav__link:focus::before {
        transform-origin: left top;
        transform: scale(1, 1);
      }
}

/* Modify the text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link {
    color: #ffffff !important; /* white */
}

/*End Home Page*/
/*End Pages*/
